{% stylesheet %}
.my_liquid {
    background-color: {{section.settings.bg_color}};
    color: {{section.settings.color}};
    text-align: center;
    font-size: {{section.settings.fs_size}}px;
    padding: 20px;
}
{% endstylesheet %}


{% if section.settings.show_announcement %}
<div class="my_liquid">
{{section.settings.a_text}}

    </div>
{% endif %}


{% schema %}
{
   "name": "Announce",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_announcement",
    "label": "Show announcement",
    "default": true
  },
     {
    "type": "text",
    "id": "a_text",
    "label": "Heading",
    "default": "please enter a text"
  
  },
    {
    "type": "color",
    "id": "color",
    "label": "Color",
    "default": "#000"
  },
    {
    "type": "range",
    "id": "fs_size",
    "label": "Font Size",
    "unit": "px",
    "min": 8,
    "max": 30,
    "step": 1,
    "default": 8
  }
  ]
   
}
{% endschema %}