{% stylesheet %}
.my_liquid {
    background-color: #47c1bf;
    color: red;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}
{% endstylesheet %}


{% if section.settings.show_announcement %}
<div class="my_liquid">

   Hi there
    
    </div>
{% endif %}



</div>

{% schema %}
{
   "name": "Announce",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_announcement",
    "label": "Show announcement",
    "default": true
  }
  
  ]
   
}
{% endschema %}