{% stylesheet %}
.my_liquid {
    background-color: #47c1bf;
    color: red;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}
{% endstylesheet %}


{% if section.settings.show_announcement %}
<div class="my_liquid">
<<<<<<< HEAD
   Hi there
    
    </div>
{% endif %}
=======
{{section.settings.show_announcement}}

</div>
>>>>>>> db5ac1d35df388e882cb35277465f038f2bc080c

{% schema %}
{
   "name": "Announce",
  "settings": [
  {
    "type": "checkbox",
    "id": "show_announcement",
    "label": "Show announcement",
    "default": true
  }
  
  ]
   
}
{% endschema %}